# Default TypeSpec output
tsp-output/
dist/

# Dependency directories
node_modules/

.env*

.npmrc

.gradle

bin/*
!Resource

# 生成物をコミットしない
build/*
/tsp-output/
/ts/src/api/
public/mockServiceWorker.js